{% assign accomplishments = site.data.data.professional-expertise %}
{% if accomplishments %}
<section class="section experiences-section">
    <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
        Accomplishments
    </h2>

    {% for accomplishment in accomplishments %}
    <div class="item">

        {% if accomplishment %}
        <div class="details">
            {{ accomplishment.details | markdownify }}
        </div><!--//details-->
        {% endif %}

    </div><!--//item-->
    {% endfor %}

</section><!--//section-->
{% endif %}

